/* here you can put your own css to customize and override the theme */
.gp-mg td {
    padding-bottom: 30px !important;
}

.gp-img img
{width:30px; height:30px;}

.gp-span span
{padding-left:10px;}

.gp-cen{margin: 0px auto; display: table; }

.btn.btn-outline.grey-salsa {
     padding: 10px 25px 10px 25px;
	 margin-right:10px;
}


.btn.gpblue:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #293896;
    border-color: #293896;
	padding: 10px 25px 10px 25px;
}


.gp-select .btn-default {
    height: 28px;
    padding: 0px 9px;
        padding-right: 9px;
    border-bottom: 1px solid #fff;
	background-color:transparent;
	color: #fff;
   
}

.gp-select .open > .btn-default.dropdown-toggle:hover {
    color: #fff !important;
    background-color: transparent !important;
    border-color: #fff !important;
}

.gp-select .open > .btn-default.dropdown-toggle {
     color: #fff !important;
    background-color: transparent !important;
    border-color: #fff !important;
}



.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
       margin-top: 7px !important;
}

.gp-select .form-control {
  background-color: transparent !important;
}




.btn.green1:not(.btn-outline) {
  color: #FFFFFF;
  background-color: #36C6D3;
  border-color: #36C6D3; }
  .btn.green1:not(.btn-outline):focus, .btn.green1:not(.btn-outline).focus {
    color: #FFFFFF;
    background-color: #36C6D3;
    border-color: #36C6D3; }
  .btn.green1:not(.btn-outline):hover {
    color: #FFFFFF;
    background-color: #36C6D3;
    border-color: #36C6D3; }
  .btn.green1:not(.btn-outline):active, .btn.green1:not(.btn-outline).active,
  .open > .btn.green1:not(.btn-outline).dropdown-toggle {
    color: #FFFFFF;
    background-color: #36C6D3;
    border-color: #36C6D3; }.btn.green1:not(.btn-outline) {
  color: #FFFFFF;
  background-color: #36C6D3;
  border-color: #36C6D3; }
  .btn.green1:not(.btn-outline):focus, .btn.green1:not(.btn-outline).focus {
    color: #FFFFFF;
    background-color: #36C6D3;
    border-color: #36C6D3; }
  .btn.green1:not(.btn-outline):hover {
    color: #FFFFFF;
    background-color: #36C6D3;
    border-color:#36C6D3; }
  .btn.green1:not(.btn-outline):active, .btn.green1:not(.btn-outline).active,
  .open > .btn.green1:not(.btn-outline).dropdown-toggle {
    color: #FFFFFF;
    background-color: #36C6D3;
    border-color: #36C6D3; }
	
	
	.form-horizontal .control-label {
    text-align: left !important;
    margin-bottom: 0;
    padding-top: 7px;
}

.chose-img img {
    height: 70px;
    width: 70px;
}



div.dt-button-collection {
    max-height: 400px;
    overflow-y: auto;
}

div.dt-button-collection {
	margin-left: -63px !important; 
	width: 186px !important;}
	
	div.dt-button-collection > a.dt-button.active {
    background: #c9c9c9 !important;
border: 1px solid #c8c8c8 !important;
}

.gp-pad1{padding-left: 0px !important;}

.gp-font .btn-danger {
	font-size:15px !important;}
	
	.gp-font .btn-warning {
	font-size:11px !important;}
	
	
.gp-alignleft {
		padding:6px 0px !important;
	}
	
	.table thead tr th { vertical-align:middle;}
	
	.table-checkable tr > th:first-child, .table-checkable tr > td:first-child {
   
    padding-left: 4px !important;

}


.gp-hide{visibility:hidden;}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table, .dataTables_wrapper.no-footer div.dataTables_scrollBody table {
    border-bottom: none;
    margin: 0px !important;
	
       
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table { width:100% !important;}

.dataTables_scrollHeadInner {min-width:98% !important;}


.scrollbar::-webkit-scrollbar
{
    width: 6px !important;
    background: transprent !important;
	    position: absolute;

	
}
 
.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
    background: #FFFFFF !important;
}


table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 21px !important;
}


.btn:hover:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all), .icon-btn:hover, .md-shadow-z-2-hover, .portlet.box.blue-chambray > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-dark > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-ebonyclay > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-hoki > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-madison > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-oleo > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-sharp > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.blue-steel > .portlet-title > .actions .btn-default:hover, .portlet.box.blue > .portlet-title > .actions .btn-default:hover, .portlet.box.dark > .portlet-title > .actions .btn-default:hover, .portlet.box.default > .portlet-title > .actions .btn-default:hover, .portlet.box.green-dark > .portlet-title > .actions .btn-default:hover, .portlet.box.green-haze > .portlet-title > .actions .btn-default:hover, .portlet.box.green-jungle > .portlet-title > .actions .btn-default:hover, .portlet.box.green-meadow > .portlet-title > .actions .btn-default:hover, .portlet.box.green-seagreen > .portlet-title > .actions .btn-default:hover, .portlet.box.green-sharp > .portlet-title > .actions .btn-default:hover, .portlet.box.green-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.green-steel > .portlet-title > .actions .btn-default:hover, .portlet.box.green-turquoise > .portlet-title > .actions .btn-default:hover, .portlet.box.green > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-cararra > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-cascade > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-gallery > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-mint > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-salsa > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-salt > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-silver > .portlet-title > .actions .btn-default:hover, .portlet.box.grey-steel > .portlet-title > .actions .btn-default:hover, .portlet.box.grey > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-intense > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-medium > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-plum > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-seance > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-sharp > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-studio > .portlet-title > .actions .btn-default:hover, .portlet.box.purple-wisteria > .portlet-title > .actions .btn-default:hover, .portlet.box.purple > .portlet-title > .actions .btn-default:hover, .portlet.box.red-flamingo > .portlet-title > .actions .btn-default:hover, .portlet.box.red-haze > .portlet-title > .actions .btn-default:hover, .portlet.box.red-intense > .portlet-title > .actions .btn-default:hover, .portlet.box.red-mint > .portlet-title > .actions .btn-default:hover, .portlet.box.red-pink > .portlet-title > .actions .btn-default:hover, .portlet.box.red-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.red-sunglo > .portlet-title > .actions .btn-default:hover, .portlet.box.red-thunderbird > .portlet-title > .actions .btn-default:hover, .portlet.box.red > .portlet-title > .actions .btn-default:hover, .portlet.box.white > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-casablanca > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-crusta > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-gold > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-haze > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-lemon > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-mint > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-saffron > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow-soft > .portlet-title > .actions .btn-default:hover, .portlet.box.yellow > .portlet-title > .actions .btn-default:hover, .social-icons li:hover > a, .social-icons.social-icons-color > li > a:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.2),0 3px 6px rgba(0,0,0,.26) !important;
}


.gp-alert .alert {
   border-width: 0 !important;
    margin-left: 233px !important;
	margin-bottom:0px !important;
}
.gp-bold{font-weight:bold;}


.table-checkable tr > th:first-child, .table-checkable tr > td:first-child {

    max-width:70px !important;
}

.section-message{
position: absolute;
width: 93%;
bottom: 40px;}

.gp-cen .btn-danger{margin-right:10px;}

/* AutoComplete Css */
#passenger-autocompletelist{float:left;list-style:none;margin:0;padding:0;width:264px;cursor:pointer}
#passenger-autocompletelist li{padding: 10px; background:#FAFAFA;border-bottom:#F0F0F0 1px solid;}
#passenger-autocompletelist li:hover{background:#F0F0F0;}

#passenger-autocompletelist {
    position: absolute;
    z-index: 1111;
	max-height: 300px;
overflow-x: auto;

}

.dataTables_wrapper .dataTables_processing {
	z-index:1111;}

/** dashboard Chart page css**/
.gp-select .btn-default {
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 28px;
    padding: 0 9px;
}
.gp-select .open > .btn-default.dropdown-toggle:hover {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.gp-select .open > .btn-default.dropdown-toggle {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.gp-dashbg {
    background-color: rgb(239, 243, 248);
}
.cabs-detailslayout {
    background-color: white;
    padding: 10px;
}

.gp-cen h5 {
    text-align: center;
}
.gp-cen1 .form-control {
    display: table;
    margin: 0 auto;
    width: 30%;
}
.gp-cen1 label{margin: 0px auto; display:table; font-weight: bold; font-size:17px; padding-bottom:12px;}

.gp-bgnone .table-hover > tbody > tr:hover, .table-hover > tbody > tr:hover > td {
    background: transparent none repeat scroll 0 0;
}
.gp-p {
    color: #9eacb4;
    font-size: 16px;
    font-weight: 700;
    padding-right: 10px;
}
.colors {
    -moz-box-flex: 1;
    flex-grow: 1;
}
.color:first-of-type {
    margin-left: 20px;
}
.not-available {
    line-height: 2em;
    text-align: center;
}
.color {
    border-radius: 2px;
    display: inline-block;
    height: 25px;
    margin-right: 4px;
    vertical-align: middle;
    width: 25px;
}
.green {
    background: #4db3a4 none repeat scroll 0 0;
}
.yellow {
    background: #ffc76d none repeat scroll 0 0;
}
.red {
    background: #f8a69c none repeat scroll 0 0;
}
.blue {
    background: #293896 none repeat scroll 0 0;
}
svg:not(:root) {
    cursor: pointer;
    overflow: hidden;
}
.gp-select .dropdown-menu {
    max-height: 374px !important;
}
.gp-cent-text
{
	margin: 0px auto;
display: table;
min-width: 300px;
}

/** save Pasenger Icon css **/
.iconPM {
  font-decoration:none;
  border: none;
  display:inline-block;
  animation: blink 2s ease-in infinite;
margin-top: 43px;
font-size: 25px;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

.none
{
 background: #e2e7eb;
 border-color: #d8dde1;
color: #333;
}

.booked
{
 background: #00acac;
 border-color: #00acac;
 color:#fff;
}

.driver-initiated
{
 background: #3a92ab;
 border-color: #3a92ab;
 color:#fff;
}

.driver-accepted
{
 background: #008a8a;
 border-color: #008a8a;
 color:#fff;
}

.driver-arrived
{
 background: #f59c1a;
 border-color: #f59c1a;
 color:#fff;
}

.in-progress
{
 background: #c47d15;
 border-color: #c47d15;
 color:#fff;
}

.waiting-for-payment
{
 background-color: #f3c200;
 border-color: #f3c200;
 color:#fff;
}

.trip-completed
{
 background-color: #26C281;
 border-color: #26C281;
 color:#fff;
}

.cancelled-by-passenger
{
 background-color: #e7505a;
 border-color: #e7505a;
 color:#fff;
}

.cancelled-by-driver
{
 background-color: #e12330;
 border-color: #a1161f;
 color:#fff;
}

.driver-not-found
{
 background: #2d353c;
border-color: #2d353c;
 color:#fff;
}

.no-notification
{
 background: #e2e7eb;
 border-color: #d8dde1;
 color: #333;
}

.queuing
{
 background: #2a72b5;
 border-color: #2a72b5;
 color:#fff;
}
.driver-rejected-trip
{
 background: #ff5b57;
 border-color: #ff5b57;
 color:#fff;
}

.in-progress
{
 background: #c47d15;
 border-color: #c47d15;
}

.waiting-for-payment
{
 background-color: #f3c200;
 border-color: #f3c200;
}

.trip-completed
{
 background-color: #26C281;
 border-color: #26C281;
}

.cancelled-by-passenger
{
 background-color: #e7505a;
 border-color: #e7505a;
}

.cancelled-by-driver
{
 background-color: #e12330;
 border-color: #a1161f;
}

.driver-not-found
{
 background: #2d353c;
border-color: #2d353c;
}

.no-notification
{
 background: #e2e7eb;
 border-color: #d8dde1;
 color: #333;
}

.queuing
{
 background: #2a72b5;
 border-color: #2a72b5;
}
.driver-rejected-trip
{
 background: #ff5b57;
 border-color: #ff5b57;
}

.color_1 {background: #4DB3A4 none repeat scroll 0 0;}

.color_2 {background: #FFAF2F none repeat scroll 0 0;}

.color_3 {background: #F36A5A none repeat scroll 0 0;}

.color_4 {background: #00BCD4 none repeat scroll 0 0;}

.color_5 {background: #E91E63 none repeat scroll 0 0;}

.color_6 {background: #607D8B none repeat scroll 0 0;}

.color_7 {background: #009688 none repeat scroll 0 0;}

.color_8 {background: #745AF2 none repeat scroll 0 0;}

.color_9 {background: #CDDC39 none repeat scroll 0 0;}

.color_10 {background: #DD4B39 none repeat scroll 0 0;}
