
html, body{
    font-size: 100%;
font-family: 'Source Sans Pro', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:15px;
	letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Source Sans Pro', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}


/*-- main --*/
.banner-overlay-agileinfo {
    background: url(../images/overlay.png)repeat;
    padding: 0em 0 13.2em 0;
}
h2.tittle-agileits-w3layouts, h3.tittle-agileits-w3layouts {
    color: #000;
    font-size: 36px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 0.8em;
}
h2.tittle-agileits-w3layouts span, h3.tittle-agileits-w3layouts span {
    color: #f5b120;
}
p.para-w3-agile {
    color: #777;
    font-size: 15px;
    line-height: 33px;
}
a.button-w3layouts {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    background: #1bb4b9;
    letter-spacing: 1px;
    font-size: 13px;
    display: inline-block;
    margin-top: 1.5em;
}
.white-w3ls{
	color: #fff!important;
}
/*-- //button-hover-effect --*/
.wthree_banner_info{
    width: 60%;
    margin: 0em auto 0;
    text-align: center;
    padding-top: 13em;
}
.wthree_banner_info h2{
	font-size: 3em;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
	line-height:1.5em;
	margin-bottom:2em;
}
.wthree_banner_info h2 span{
	display: block;
    font-size: .4em;
    line-height: 1.4em;
    width: 15%;
    margin: 0 auto;
    background: #efb312;
}
ul.agile_forms {
    float: right;
}
ul.agile_forms li a {
    background: #0ac876;
    color: #fff;
    font-size: 0.9em;
    padding: 8px 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
}
ul.agile_forms li a:hover{
	    background: #efb312;
}
ul.agile_forms li{
	
	display:inline-block;
	list-style:none;
	
}

/*--about--*/
.sub_para_agile {
    text-align: center;
    font-style: italic;
    font-size: 1em;
    font-weight: 600;
    color: #48506b;
    letter-spacing: 2px;
    margin-top: 1em;
}
.about-left_w3ls_img {
    background: url(../images/ab.jpg)no-repeat center;
    min-height: 642px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-position:fixed;
}
.about-top_agile_its h2 {
	font-size:3em;
	font-weight:600;
	color: #000;
	text-transform: uppercase;
}
.about-top_agile_its {
     padding: 7em 0em 0em 3em;
}
.about-top_agile_its h5 {
    font-size: 11px;
    font-weight: 400;
    color: #0ac876;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #cec8c8;
    margin: 0px 0px 15px 0px;
    letter-spacing: 4px;
}
.about-top_agile_its span {
     font-weight: 600;
    font-style: italic;
    color: #ef5734;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 2em;
}
.about-top_agile_its p {
  font-size:1em;
  font-weight: 400;
  color: #838383;
  line-height: 2em;
  letter-spacing:1px;
  margin-bottom:1em;
}
p.w3l_sub_para_agile {
    color: #0ac876;
    letter-spacing: 5px;
    font-size: 0.9em;
    text-align: center;
    font-weight: 400;
}

.w3_agileits_about_grid_left .gp-p p {
	 color: #777;
    line-height: 2em;
	font-size:15px;
	margin-bottom:10px;
	text-align: justify;
	padding-left:34px !important;
}

.w3_agileits_about_grid_left p {
    color: #777;
    line-height: 2em;
	font-size:15px;
	margin-bottom:10px;
	text-align: justify;
	padding-left:34px;
}
.w3_agileits_about_grid_left ul li {
   display: block;
    margin-bottom: 10px;
    color: #777;
    line-height: 2em;

    font-size: 15px;

    
}

.w3_agileits_about_grid_left ul li i {
    color: #efb312;
    padding-right: 1em;
}
.w3_agileits_about_grid_left span {
   
    font-style: italic;
    color: #293896;
	position:absolute;
    
}

.w3_agileits_about_grid_left .gp-li span {
   
    font-style: italic;
    color: #293896;
	position:inherit !important;
    
}
/*--about end here--*/






.services ul li {
    display: block;
    margin-bottom: 1em;
    color: #777;
    line-height: 1.5em;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
	margin-top: 19px;
}
.services ul li i {
    color: #efb312;
    padding-right: 1em;
}






/*-- image-effect --*/
.hovereffect {
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect:hover .overlay {
  background-color:rgba(23, 24, 24, 0.49);
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h4 {
	text-transform: uppercase;
    color: #0ac876;
    text-align: center;
    position: relative;
    font-size: 1.1em;
    padding: 8px 0;
    width: 80%;
    margin: 0 auto;
    background: rgba(23, 22, 27, 0.72);
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    letter-spacing: 1px;
    font-weight: 700;
}
.hovereffect:hover h4 {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
}

.hovereffect p{
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    font-weight: normal;
    margin: 0;
      padding: 4em 2em 0em;
    letter-spacing: 2px;
}

.hovereffect:hover p{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.w3l_header {
    font-size:2.5em;
        color: #262c38;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    font-weight: 800;
    text-align: center;
	margin-top: 20px;
}
h3.w3l_header.w3_agileits_header.two {
    color: #fff;
}
.w3l_header:after {
   border-top: 2px solid #efb312;
    display: block;
    width: 81px;
    content: "";
    margin: 8px auto 0;
}
.w3l_header span {
    color: #293896;
}

/*-- //banner-bottom --*/

/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
       background:#222 url(../images/left.png) no-repeat 7px 7px;
     top: -13% !important;
	display:block;
}
.nbs-flexisel-nav-left {
	    left: 93.5%;
}
.nbs-flexisel-nav-right {
	right: 1.2%;
    background:#222 url(../images/right.png) no-repeat 7px 7px;
}
/*--//flexisel--*/
/*-- services --*/
.services{
	   background: #F5F4F4;

}
.choose_right p {
    color: #adb5cc;
    font-size: 0.9em;
    line-height: 1.9em;
    padding: 0 0%;
    margin: 1em 0;
}
.choose_right h3 {
    font-size: 1.4em;
    color: #293896;
    letter-spacing: 1px;
    font-weight: 700;
}
.choose_icon {padding: 2em 2em 1em 2em;
margin-left: 2%;
width: 48%;
border: 2px solid #fff;
box-shadow: 0 1px 8px #c9c9c9;
background: #fff;
-webkit-transition: 0.5s ease-in;
-moz-transition: 0.5s ease-in;
-ms-transition: 0.5s ease-in;
-o-transition: 0.5s ease-in;
transition: 0.5s ease-in;
min-height: 260px;

	
}
.choose_icon:hover {
    border: 2px solid #293896;
}
.choose_icon:nth-child(2),.choose_icon:nth-child(4){
   margin-right:0;
}
.choose_icon:nth-child(3),.choose_icon:nth-child(4){
   margin-top:2em;
}
/*.choose_icon i {
        color: #efb312;
    font-size: 2.5em;
}*/
.choose_left {
    float: left;
    margin-top: 0;
    width: 20%;
}
.choose_right {
    float: right;
	margin-bottom: 10px;
    position: relative;
	  width: 78%;
}
/*.choose_right:before {
    content: "";
    width: 38px;
    height: 2px;
    background: #00ba66;
    display: block;
    bottom: -10px;
    left: 0px;
    position: absolute;
}*/
.agile_inner_grids {
margin: 2em 0px;
}
.gp-link{
	padding-top: 21px;}

.gp-link p
{
	text-align:center;
	padding-bottom: 13px;
	font-size: 17PX;	
	}
/*-- //services --*/

/*-- services --*/
.banner1 {
    background: url(../images/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
      min-height: 261px;
}
.w3_agileits_service_banner_info h2 {
    text-align: center;
    font-size: 2.3em;
    color: #fff;
    padding-top: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 800;
}
.services.two {
    background: #fff;
}
.wthree_services_grid_left h3{
    font-size: 2em;
    color: #212121;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 700;
}
.wthree_services_grid_left h4 {
    font-size: 0.9em;
    letter-spacing: 8px;
    color: #848588;
}
.wthree_services_grid_left h3 span{
	color:#efb312;
}
.wthree_services_grid_left p{
	color: #545454;
	line-height:2em;
	margin:2em 0;
}
.w3_agileits_more a {
    border-color: #efb312;
}
.w3_agileits_more a.link.link--kumya{
	color:#efb312;
}
.w3_agileits_more a:hover {
    border-color: #212121;
}
.agileits_w3layouts_service_grid{
	text-align:center;
}
.agile_service_grd{
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: #262c38;
}
.agileits_w3layouts_service_grid:nth-child(4),.agileits_w3layouts_service_grid:nth-child(5),.agileits_w3layouts_service_grid:nth-child(6){
	margin-top:2em;
}
.agile_service_grd i{
    font-size: 2em;
    color: #fff;
    line-height: 2.5em;
}
.agileits_w3layouts_service_grid h4{
    font-size: 1.2em;
    color: #0ac876;
    margin: 1em 0 .6em;
    padding: .3em 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.agileits_w3layouts_service_grid p{
	    color: #545454;
	line-height:1.9em;
}
.agileits_w3layouts_service_grid:hover .agile_service_grd{
    -webkit-animation: fa-spin 3s infinite linear;
    animation: fa-spin 3s infinite linear;
	background:#0ac876;
	border-color:#0ac876;
}
.agileits_w3layouts_service_grid:hover .agile_service_grd i{
	color:#fff;
}
/*-- //services --*/


/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#efb312;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.grid_3.grid_5.w3 h6 {
    text-align: left!important;
    text-transform:lowercase;
	letter-spacing:1px;
}
.bs-example h6 {
    text-align: left;
	font-size: 0.9em;
    color: #999;
	letter-spacing:1px;
	text-transform:lowercase;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}

.ziehharmonika p{

color: #777;
line-height: 2em;
font-size: 15px;
margin-bottom: 10px;
text-align: justify;
}




/* accordian */

.ziehharmonika h3 {
	background: #5a5a5a;
	color: #fff;
	text-align: left;
	border-radius: 4px;
	padding: 10px 12px;
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 9px;
	padding-right: 40px;
	transition: 0.25s all;
	position: relative;
	font-size: 20px;
}
.ziehharmonika h3.active {
	margin-bottom: 4px;
	background: #293896;
}
.ziehharmonika h3::before {
	content: attr(data-prefix);
	font-size: 18px;
	margin-right: 9px;
}
.ziehharmonika h3.alignLeft {
	padding-left: 35px;
}
.ziehharmonika > div {
	display: none;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #cdcdcd;
	text-align: left;
	padding: 31px 33px;
	margin-bottom: 9px;
}
.ziehharmonika .arrowDown {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13.0px 7.5px 0 7.5px;
	border-color: #272e35 transparent transparent transparent;
	position: absolute;
	bottom: 0;
	left: 40px;
	transition: 0.25s all;
	opacity: 0;
}
/*.ziehharmonika .active .arrowDown {
	bottom: -13px;
	border-color: #009641 transparent transparent transparent;
	opacity: 1;
}*/
.ziehharmonika .collapseIcon {
	position: absolute;
	right: 20px;
	top: 45%;
	font-size: 25px;
	font-weight: 300;
	-ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
}
.ziehharmonika .collapseIcon.alignLeft {
	right: initial;
	left: 20px;
}



.gp-li li{
	margin-left:74px;}

@media (max-width:768px){
	.gp-li li{
	margin-left:0px;}
	
	.ziehharmonika > div {
    
    padding: 31px 8px;
	} 
	
.w3_agileits_about_grid_left .gp-p p {
	padding-left: 0px !important;
}
.choose_right {
    width: 100%;
}
.choose_left {
    float:inherit;

    display: table;
    margin: 0px auto;
}


.services ul li i {
       padding-right: 6px;
}
.choose_icon i {
    font-size: 17px !important;
}

.w3_agileits_about_grid_left p {
	padding-left:19px;
}
.ziehharmonika h3 {
	font-size:15px;
}
.ziehharmonika h3::before {
    margin-right: 0px;
}





}

@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
	.grid_3.grid_5.w3l {
		margin-top: 1.5em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.list-group {
		margin-bottom: 20px;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/

/*-- start-responsive-design --*/
@media (max-width:1440px){
	.wthree_banner_info {
		width: 67%;
	}
	.w3layouts-banner-top,.w3layouts-banner-top1,.w3layouts-banner-top2 {
		min-height: 630px;
	}
	.agileits-banner-info {
		padding: 15em 0 0em;
	}
	.footer {
		padding: 3em 0;
		background: #06080e;
	}
	.agileits-banner-info h3 {
		font-size: 5em;
	}
	#chart #bars li {
		width: 90px;
		height: 300px;
		margin: 0;
	}
	.banner-bottom h2 {
      font-size: 2.5em;
	}
}
@media (max-width: 1366px){
	.banner {
		min-height: 645px;
	}
	.wthree_banner_info {
		margin: 9em auto 0;
	}
	.wthree_banner_info h2 {
		font-size: 2.6em;
	}
	.w3l_header {
       font-size:2.3em;
	}
	.banner-bottom,.services,.service-bottom,.contact,.inner_main_agile_section,.test {
		padding: 4em 0;
	}
	.agile_inner_grids {
		margin-top: 3em;
	}
	#chart #bars li {
		width: 80px;
		height: 300px;
		margin: 0;
	}
	.agileits-banner-info {
		padding: 13em 0 0em;
	}
	.nbs-flexisel-nav-left {
		left: 91.5%;
	}
}
@media (max-width: 1280px){

	.banner-bottom h2 {
		font-size: 2.2em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 530px;
	}
	.agileits-banner-info {
		padding: 11em 0 0em;
	}
	.agileits-banner-info h3 {
      font-size: 4.5em;
	}
	.agileinfo_services_grids {
		margin: 2em 0 4em;
	}
	.navbar-nav > li > a {
		margin: 0 1.5em;
		padding: 0 0 0.5em;
	}
	#chart {
		width: 589px;
		height: 300px;
		margin: 30px auto 0;
		display: block;
	}
}
@media (max-width: 1080px){
	.w3_agileits_search {
		width:34%;
	}
	.menu--iris .menu__item {
		margin: 0 1em 0 0;
	}
	.wthree_banner_info {
		width: 80%;
	}
	.wthree_banner_info h2 {
		font-size: 2.4em;
		margin-bottom: 1.5em;
	}
	.banner-bottom h2 {
		font-size: 1.7em;
	}
	.hovereffect h4 {
		font-size: 1.2em;
		padding: 7px 0;
		width: 75%;
		-webkit-transform: translateY(50px);
		-ms-transform: translateY(50px);
		transform: translateY(50px);
	}
	.hovereffect p {
		padding: 2.5em 1em 0em;
		letter-spacing: 1px;
	}
	.w3l_header:after {
		left: 17%;
	}
	.w3_agileits_header:after {
		left:30% !important;
	}
	.w3layouts_footer_grid h2:after {
		left: 45%;
	}
	.w3l_footer_nav li:last-child{
		margin-right:0;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size: 0.9em;
		letter-spacing: 2px;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 2.5em;
	}
	.banner1 {
       min-height: 160px;
	}
	.agile_service_grd {
		width: 80px;
		height: 80px;
	}
	.agile_service_grd i {
		font-size: 1.7em;
		line-height: 2.8em;
	}
	.wthree_services_grid_left h3 {
		font-size: 1.3em;
	}
	.agileinfo_services_grid1 h4 {
		letter-spacing: 0px;
	}
	.w3_agileits_header1:after {
		left: 24% !important;
	}
	.w3_textbox h4 {
		font-size: 1.5em;
		margin: 1.5em 0 .5em;
	}
	.agileits_mail_grid_right1 {
		padding: 2em;
	}
	.agileits_mail_grid_right1 span i {
		font-size: 13px;
	}
	.navbar-brand span {
		padding: 0 9px 2px 9px;
		font-size: 0.9em;
	}
	.w3_agileits_search {
		width: 30%;
	}
	.service-box p {
		font-size: .85em;
		margin: 0;
	}
	.icon i.fa {
		top: -29px;
		left: 53px;
	    font-size: 2.5em;
	}
	.w3-agile-post-img a {
		min-height: 290px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 18em;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 21%;
	}
	.stats {
		min-height: 254px;
		text-align: center;
	}
	.w3layouts_stats_left {
		padding: 4em 0 4em 0;
	}
	.textbox h4 {
		font-size: 2em;
		margin-top: 1.9em;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 2em;
		padding-top: 2em;
	}
	.agileits-banner-info p {
       font-size: 1em;
	}
	.w3layouts_mail_grid_left2 h3 {
		font-size: 1em;
		margin: 1em 0 0.3em;
		letter-spacing: 4px;
	}

	.agile_inner_w3ls-grids {
		margin-top: 2em;
	}
	.agileits_w3layouts_banner_nav {
		margin: 0 auto;
		width: 95%;
	}
	.navbar-nav > li > a {
		margin: 0 1em;
		padding: 0 0 0.5em;
	}
	.agileits-banner-info h3 {
		font-size: 4.3em;
	}
	#chart #bars li {
		width: 66px;
		height: 300px;
		margin: 0;
	}
		
	#chart #bars li .bar {
		display: block;
		width: 54px;
		margin-left: 15px;
		bottom: 0;
	}
	#chart {
		width: 500px;
		height: 300px;
		margin: 30px auto 0;
		display: block;
	}
	.banner-bottom,.services,.service-bottom,.contact,.inner_main_agile_section,.test {
		padding: 3em 0;
	}
	.agile_inner_grids {
		margin-top: 2em;
	}
	.sub_para_agile {
		font-size: 0.9em;
		letter-spacing: 2px;
		margin-top: 0.6em;
	}
	.banner-bottom h6,.inner_main_agile_section h6 {
		letter-spacing: 6px;
		font-size: 0.9em;
	}
	.medile_agile_its_blue {
		min-height: 150px;
	}
	.medile_agile_its_blue h4 {
		font-size: 2em;
		padding-top: 1.7em;
	}
	.medile_agile_its_green {
	  min-height: 150px;
	}
	.more.click {
		padding-top: 1em;
	}
	.nbs-flexisel-nav-left {
		left: 89.5%;
	}
	.w3_agile_event_grid1_pos p {
      padding: .1em 1em;
	}
	.agileits_w3layouts_event_grid1 h5 {
		margin: 1em 0;
		font-size: 0.8em;
	}
	.agileits_w3layouts_event_grid1 {
       padding: 1em;
	}
	figcaption h3 {
		font-size: 1.6em;
		margin-top: 45px;
	}
}
@media (max-width: 1024px){
	.w3_agileits_search {
		width: 30%;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.8em;
	}
	.w3layouts_work_grid_right {
		padding: 2em 7em 0em 3em;
	}
	.w3_agileits_search input[type="submit"] {
		background-position:2px 1px;
	}
	.navbar-nav > li > a {
		padding: 5px 14px;
		font-size:12px;
	}
   .agileits-banner-info h3 {
		font-size: 4em;
	}
	.w3layouts_stats_left {
		padding: 3em 0 0em 0;
	}
	.stats {
		min-height: 235px;
		text-align: center;
	}
	.navbar-nav > li > a {
       margin: 0 0.4em;
	}
	.navbar-nav > li > a {
		padding: 5px 10px;
		font-size: 12px;
	}
	#chart {
		width: 487px;
		height: 300px;
		margin: 30px auto 0;
		display: block;
	}
	.more a {
      padding: 9px 25px;
	}
}
@media (max-width: 991px){
	.navbar-nav > li > a {
		padding: 3px 10px;
	}
	.menu--iris .menu__item:last-child{
		margin-right:0;
	}
	.w3_agileits_search {
		width: 35%;
	}
	.wthree_banner_info h2 {
		font-size: 2.2em;
	}
	.link--kumya {
		padding: 12px 25px;
	}
	.banner-bottom h2 {
		width: 100%;
	}
	.agileits_banner_bottom_grid {
		float: left;
		width: 50%;
	}
	.agileits_banner_bottom_grid:nth-child(2){
		margin-bottom:2em;
	}
	.hovereffect h4 {
		-webkit-transform: translateY(83px);
		-ms-transform: translateY(83px);
		transform: translateY(83px);
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(55px);
		-ms-transform: translateY(55px);
		transform: translateY(55px);
		-moz-transform: translateY(55px);
		-o-transform: translateY(55px);
	}
	.hovereffect p {
		padding: 5.5em 1em 0em;
	}
	.w3l_header:after {
		left: 21%;
	}
	.w3layouts_work_grid_right {
		padding: 2em 5em 0em 3em;
	}
	.w3_agile_team_grid {
		width: 55%;
		margin: 5em 0 0 4em;
	}
	.w3layouts_footer_grid:first-child {
		float: left;
		width: 35%;
	}
	.w3layouts_footer_grid:nth-child(2) {
		float: right;
		width: 65%;
	}
	.w3layouts_footer_grid form {
		width: 100%;
	}
	.w3layouts_footer_grid h2:after {
		left: 56%;
		width: 40%;
	}
	.w3l_footer_nav li {
		margin-right: 1.7em;
	}
	.agileits_w3layouts_service_grid {
		float: left;
		width: 33.33%;
	}
	.wthree_services_grid_right {
		margin-top: 2em;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size: 1.1em;
		letter-spacing: 7px;
	}
	.w3layouts_service_bottom_grid {
		float: left;
		width: 25%;
	}
	.agileits_w3layouts_stats_grid {
		width: 65px;
		height: 65px;
	}
	.agileits_w3layouts_stats_grid i {
		font-size: 1.5em;
		line-height: 2.5em;
	}
	.w3layouts_service_bottom_grid p {
		font-size: 1.7em;
		width: 80%;
	}
	.w3layouts_service_bottom_grid h3 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.agileinfo_services_grid {
		padding-top: 3em;
	}
	.agileinfo_services_grids {
		margin: 1em 0 0em;
	}
	.agileinfo_services_grid1 h4 {
		letter-spacing: 2px;
		font-size: 1.2em;
	}
	.agileinfo_services_grid1_pos {
		top: -22%;
	}
	.agileinfo_services_grid1 h4:after {
		right: 50%;
	}
	.w3_agileits_header1:after {
		left: 31% !important;
	}
	.agileits_portfolio_grid .w3_textbox {
		padding: 0 1em;
	}
	.w3_textbox h4 {
		font-size: 1em;
		letter-spacing: 3px;
	}
	.simplefilter li {
		padding: 0.6em 1.5em;
		font-size: 13px;
	}
	.w3layouts_mail_grid_left {
		float: left;
		width: 100%;
		text-align: center;
		margin-bottom: 1em;
		padding:0;
	}
	.w3layouts_mail_grid_left1 {
		float: none;
		margin-left: 3.5em;
	}
	.w3layouts_mail_grid_left2 p {
		line-height: 1.8em;
	}
	.agileits_w3layouts_mail_grid_right {
		margin-top: 2em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 6em;
	}
	.gallery-grid {
		padding: 0;
		float: left;
		width: 33%;
	}
	.textbox h4 {
		font-size: 1.5em;
		margin-top: 1.9em;
	}
	.banner-bottom, .services, .service-bottom, .contact,#blog {
		padding: 3em 0;
	}
	.navbar-nav > li > a {
		font-size: 11px;
	}
	.agileits-banner-info {
		padding: 9em 0 0em;
	}
	.w3l_header {
		font-size: 1.8em;
	}
	.banner-bottom h2 {
		font-size: 1.6em;
	}
	.service-box {
		float: left;
		width: 50%;
	}
	.service-box:nth-child(3),.service-box:nth-child(4) {
		margin-top:2em;
	}
	.w3-agile-post-img a ul {
      padding: 4em 1em 0 1em;
	}
	.w3-agile-post-img a {
		min-height: 207px;
	}
	.w3-agile-post-info p {
		font-size: 0.9em;
		margin: 1em 0;
		letter-spacing: 1px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 10em;
	}
	.stats {
		min-height: 430px;
		text-align: center;
		background: url(../images/banner.jpg) no-repeat 0px 0px;
	}
	.w3layouts_stats_left {
		padding: 3.5em 0 0em 0;
		float: left;
		width: 50%;
	}
	.wthree_services_grid_right {
		margin-top: 2em;
		padding: 0;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 6.3em;
	}
	#chart {
		width: 487px;
		height: 300px;
		margin: 60px auto 0;
		display: block;
	}
	.more.click {
		padding-top: 3.2em;
		margin: 0;
	}
	.medile_agile_its_blue h4 {
		font-size: 2em;
		padding-top: 1.7em;
	}
	.nbs-flexisel-nav-left {
		left: 87.5%;
	}
	.choose_icon:nth-child(2), .choose_icon:nth-child(4) {
		margin-right: 0;
	}
	.choose_icon:nth-child(3), .choose_icon:nth-child(4) {
		margin-top: 0em;
	}
	.choose_icon {
		padding: 3em 2em;
		margin-left: 0%;
		width: 100%;
		margin-bottom:1.2em;
	}
	.test-grid2 img {
		width: 23%;
		margin: 2em 0 4em 0;
	}
	.w3ls_footer_grid_left {
		text-align: center;
		float: left;
	}
	.w3_agile_footer_grid:nth-child(2) {
		margin: 2em 0;
	}
	.w3_agile_footer_grid h3 {
		font-size: 1.5em;
		margin-bottom: 1em;
	}
	figcaption h3 {
		font-size: 1.3em;
		padding: 10px 20px;
		margin-top: 28px;
	}
	.styled-input {
		width: 100%;
		margin: 1em 0 1em 0em;
		position: relative;
		float: left;
	}
	.contact-form textarea {
		min-height: 150px;
	}
	.banner1 {
		min-height: 168px;
	}
}
@media (max-width:900px){
	ul.nav.navbar-nav {
		margin: 2em 0 1em 0;
	}
	
}
@media (max-width: 800px){
	.navbar-brand {
		font-size: .7em;
		letter-spacing: 1px;
	}
	.navbar-nav > li > a {
		padding: 3px 7px;
		font-size: 13px;
	}
	.w3_agileits_search input[type="search"] {
		width: 86%;
	}
	.w3_agileits_search input[type="submit"] {
		background-position: 1px 1px;
		width: 11%;
	}
	.wthree_banner_info h2 {
		font-size: 1.8em;
	}
	.agileinfo_more a {
		font-size: 13px;
	}
	.wthree_banner_info {
		margin: 8em auto 0;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.5em;
	}
	.w3layouts_work_grid_right {
		padding: 0em 3em 0em 2em;
		margin-top: 2em;
	}
	.w3layouts_work_grid_right p {
		margin: 1em 0 0;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 2.3em;
	}

	.agileits-banner-info h3 {
		font-size: 3.3em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 480px;
	}
	.w3-agile-post-img a ul {
		padding: 2em 1em 0 1em;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 27%;
	}
	ul.nav.navbar-nav {
		margin: 2em 0 1em 0;
	}
	.agileits_w3layouts_event_grid1 h5 a{
		font-size:1.1em;
		letter-spacing:1px;
	}
	.w3_agile_event_grid1_pos p {
		padding: .1em 0.5em;
		font-size:0.9em;
	}
	.agile_event_grid1_pos ul li a {
	   font-size:0.85em;
	}
}
@media (max-width: 768px){
	.w3_agileits_search {
		width: 29%;
	}
	.w3_agileits_search input[type="submit"] {
		background-position: 0px 1px;
	}
	.w3_agile_map iframe {
		min-height: 300px;
	}
	.w3-agile-post-img a ul {
		padding: 3em 1em 0 1em;
	}
	.w3layouts_stats_left {
		padding: 3em 0 0em 0;
		float: left;
		width: 50%;
	}
	ul.nav.navbar-nav {
		margin: 0em 0 1em 0;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 450px;
	}
	figcaption h3 {
		font-size: 1.3em;
		padding: 10px 20px;
		margin-top: 63px;
	}
	.styled-input {
		width: 100%;
		margin: 1em 0;
		position: relative;
		float: left;
	}
	.choose_icon {
      padding: 2em 2em;
	}
}
@media (max-width: 767px){
	.navbar-brand {
		font-size: .8em;
	}
	.navbar-toggle {
		margin: 0.5em 0 0;
	}
	.navbar-default .navbar-toggle {
		border: none;
		background: #efb312;
		border-radius: 0;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		position: absolute;
		width: 100%;
		z-index: 999;
		background:#f3f3f3;
		padding:0em 0;
		margin-top: 2em;
	}
	.w3_agileits_search {
		width: 45%;
		float: none;
		margin: 0 auto;
	}
	.w3_agileits_search input[type="submit"] {
		width: 7%;
		background-position: 0px 5px;
	}
	.w3_agileits_search input[type="search"] {
		width: 91%;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: #0ac876;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.agileits_w3layouts_banner_nav {
		padding: 0.5em 1em;
	}
	.navbar-right {
		width: 100%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.navbar-nav {
		margin: 0;
		text-align:center;
	}
	.navbar-nav > li > a {
		padding: 5px 25px;
		font-size: 13px;
		display: inline-block;
	}
	.menu--iris .menu__item {
		margin: 6px 0;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #0ac876;
		padding:10px 0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 450px;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
		letter-spacing: 9px;
	}
	.agileits-banner-info {
		padding: 10em 0 0em;
	}
	.banner-bottom h2 {
		font-size: 1.5em;
	}
	.w3-agile-post-img a ul {
		padding:7em 1em 0 2em;
	}
	.w3-agile-post-img a {
		min-height: 350px;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 17%;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 35em;
	}
	ul.nav.navbar-nav {
		margin: 0em 0 0em 0;
	}
	
	nav.navbar.navbar-default{
		background:none;
		padding:1em 0 0.2em 0;
	}
	ul.nav.navbar-nav {
		margin: 1em 0;
	}
	ul.agile_forms {
		margin-bottom: 1em;
	}
	.agileits_w3layouts_event_grid1 h5 a {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
}
@media (max-width: 736px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 430px;
	}
	.w3l_footer_nav li {
		margin-right: 1.4em;
	}
	.textbox h4 {
		font-size: 1.3em;
		margin-top: 1.9em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 6em;
		width: 28%;
	}
	.w3_newsletter_footer_grid_left input[type="email"] {
		outline: none;
		border: none;
		font-size: 1em;
		width: 71%;
	}

}
@media (max-width: 667px){
	.w3layouts_work_grid_left {
		width: 40%;
	}
	.w3layouts_work_grid_right {
		margin-top: 0em;
		width: 53%;
		padding: 0em 3em 0em 1em;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.4em;
	}
	.w3l_footer_nav li {
		margin-right: 0.6em;
	}
	.w3layouts_footer_grid h2:after {
		left: 68%;
		width: 31%;
	}
	.banner-bottom, .services, .service-bottom, .contact, #blog {
		padding: 2.5em 0;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 28em;
	}
	.gallery-grid {
		padding: 0;
		float: left;
		width: 50%;
	}
	.textbox h4 {
		font-size: 1.3em;
		margin-top: 2.9em;
	}
	.agileits-banner-info h3 {
		font-size: 3em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 400px;
	}
	.agileits-banner-info {
		padding: 7em 0 0em;
	}
	figcaption h3 {
		font-size: 1.3em;
		padding: 10px 20px;
		margin-top: 53px;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 2.3em;
		padding-top: 1.8em;
	}
	.nbs-flexisel-nav-left {
		left: 81.5%;
	}
}
@media (max-width: 640px){
	.hovereffect h4 {
		-webkit-transform: translateY(70px);
		-ms-transform: translateY(70px);
		transform: translateY(70px);
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(40px);
		-ms-transform: translateY(40px);
		transform: translateY(40px);
		-moz-transform: translateY(40px);
		-o-transform: translateY(40px);
	}
	.hovereffect p {
		padding: 4em 1em 0em;
	}
	.w3layouts_work_grid_left {
		width: 85%;
		float: none;
	}
	.w3layouts_work_grid_right {
		width: 90%;
		padding: 2em 2em 3em;
		float: none;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.6em;
	}
	.w3l_header:after {
		left: 26%;
	}
	.agileits_banner_bottom_grids, .w3layouts_work_grids, .wthree_testimonial_grids, .wthree_services_grids, .w3layouts_mail_grid {
		margin: 2em 0 0;
	}
	.agileits_w3layouts_quotes h3 {
		font-size: 1.2em;
	}
	.agileits_w3layouts_quotes:after {
		font-size: 1.6em;
		right: -8%;
	}
	.agileits_w3layouts_quotes {
		margin: 1em 0 0;
	}
	.w3_agileits_header:after {
		left: 45% !important;
	}
	.agileits_testimonials_right_grid:before {
		left: -3%;
	}
	.w3_testimonials_right_grid:before {
		right: -3% !important;
	}	
	.wthree_testimonial_grid_right h3 {
		font-size: 1.6em;
	}
	.wthree_testimonial_grid_right p {
		margin: 1em 0 0;
	}
	.w3layouts_footer_grid:first-child,.w3layouts_footer_grid:nth-child(2) {
		float: none;
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
	.w3layouts_footer_grid:nth-child(2) {
		margin: 2em auto 0;
	}
	.wthree_testimonial_grid_right {
		margin-top: 2em;
	}
	.w3layouts_footer_grid h2:after {
		left: 65%;
		width: 20%;
	}
	.w3l_footer_nav {
		margin: 2em 0 1em;
	}
	.w3l_footer_nav li {
		margin-right: 1.5em;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size: 1em;
		letter-spacing: 3px;
	}
	.w3layouts_service_bottom_grid h3 {
		font-size: 1.1em;
	}
	.w3_agileits_header1:after {
		left: 35% !important;
	}
	.w3layouts_mail_grid_left2 h3 {
		font-size: 1em;
		letter-spacing: 2px;
	}
	.agileits_mail_grid_lft_grid1 {
		margin: 2em 0 0;
	}
	.w3layouts_mail_grid_left1 {
		width: 50px;
		height: 50px;
	}
	.w3layouts_mail_grid_left1 span {
		font-size: 1em;
		line-height: 3.1em;
	}
	.w3_agile_map iframe {
		min-height: 250px;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 5em;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 2em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 400px;
	}
	.agileits-banner-info h3 {
		font-size: 2.5em;
	}
	.agileits-banner-info {
		padding: 9em 0 0em;
	}
	.banner1 {
		min-height: 143px;
	}
	.medile_agile_its_green,.medile_agile_its_blue {
		min-height: 140px;
	}
	.w3ls_footer_grid_left {
		text-align: center;
		float: left;
		width: 100%;
		padding: 0;
	}
	.w3ls_footer_grid_left:nth-child(2) {
		 margin:1.2em 0;
	}
	.w3_agileits_about_grid_right {
		padding: 0;
	}
	#chart {
		width: 487px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	.agileits_banner_bottom_grid {
		float: left;
		width: 50%;
	}
	.test-grid h4 {
      font-size: 1.4em;
	}
	.modal-header {
		padding: 10px 10px;
	}
	.map iframe {
		min-height:250px;
		border: none;
		margin-top:2em;
	}
	h3.agileits-icons-title {
		font-size: 25px;
	}
}
@media (max-width: 600px){
	.wthree_banner_info h2 {
		font-size: 1.5em;
	}
	.wthree_banner_info h2 span {
		font-size: .5em;
	}
	.banner {
		min-height: 400px;
		background-position: -135px 0px;
	}
	.w3_agileits_search {
		width: 60%;
	}
	.hovereffect h4 {
		-webkit-transform: translateY(65px);
		-ms-transform: translateY(65px);
		transform: translateY(65px);
	}
	.w3_agile_team_grid {
		width: 70%;
	}
	.w3layouts_footer_grid h2 {
		margin-bottom: .5em;
	}
	.w3layouts_footer_grid:first-child, .w3layouts_footer_grid:nth-child(2) {
		width: 85%;
	}
	.agile_phone_mail ul li {
		display: inline-block;
		padding: 6px 14px;
	}
	.w3layouts_event_right h3 {
      font-size: 1.5em;
	}
	.w3layouts_footer_grid {
		padding: 0;
	}
	.wthree_services_grid_left h3 {
		font-size: 1.3em;
		letter-spacing: 0;
	}
	.agileits_w3layouts_service_grid {
		float: left;
		width: 50%;
		margin-bottom: 1em;
	}
	.agileits_w3layouts_service_grid:nth-child(4), .agileits_w3layouts_service_grid:nth-child(5), .agileits_w3layouts_service_grid:nth-child(6) {
		margin-top: 0em;
	}
	.f-bg-w3l {
		padding: 3em 0 3em 0;
	}
	.agile_inner_w3ls-grids.two {
		margin-top: 2em;
	}
	.agileits_mail_grid_right1 span i {
		width: 25%;
		padding: 10px 10px;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 0em;
	}
	.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		outline: none;
		width: 100%;
		margin-top: .5em;
	}
	.agileits_mail_grid_right1 textarea {
		min-height: 120px;
	}
	figcaption h3 {
		font-size: 1.2em;
		padding: 6px 20px;
		margin-top: 45px;
	}
	figcaption p {
		padding: 4px 20px;
		font-size: 0.9em;
		letter-spacing: 4px;
	}
	.banner-bottom, .services, .service-bottom, .contact, .inner_main_agile_section, .test {
		padding: 2em 0;
	}
	.w3_newsletter_footer_grid_left input[type="email"] {
		outline: none;
		border: none;
		font-size: 1em;
		width: 70%;
	}
	.agileits-banner-info {
		padding: 7em 0 0em;
	}
	.w3_agileits_about_grid_right {
		padding: 0;
	}
	a.navbar-brand {
      font-size: 0.8em;
	}
	.navbar-toggle {
		margin: 0em 0 0;
	}
	.test-grid1 {
		padding: 0;
	}
	.test-grid2 {
		padding: 0;
	}
}
@media (max-width: 568px){
	.hovereffect h4 {
		-webkit-transform: translateY(65px);
		-ms-transform: translateY(65px);
		transform: translateY(60px);
	}
	.hovereffect p {
		padding: 3.5em 1em 0em;
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px);
		-moz-transform: translateY(30px);
		-o-transform: translateY(30px);
	}
	.w3_agileits_header:after {
		left: 48% !important;
	}
	.agileits-banner-info p {
		font-size: 0.9em;
		letter-spacing: 5px;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 340px;
	}
	.service-box {
		float: left;
		width: 100%;
		margin-bottom: 2em;
	}
	.service-box:nth-child(3), .service-box:nth-child(4) {
		margin-top: 0em;
	}
	.w3-agile-post-img a {
		min-height: 300px;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 16em;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 22%;
	}
	.w3l_header {
		font-size: 1.6em;
		letter-spacing: 2px;
	}
	nav.navbar.navbar-default {
		background: none;
		padding: 0.5em 0 0em 0;
	}
	.nbs-flexisel-nav-left {
		left: 75.5%;
	}
	.agileits-banner-info {
		padding: 5em 0 0em;
	}
}
@media (max-width: 480px){

	.hovereffect h4 {
		-webkit-transform: translateY(82px);
		-ms-transform: translateY(82px);
		transform: translateY(82px);
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(55px);
		-ms-transform: translateY(55px);
		transform: translateY(55px);
		-moz-transform: translateY(55px);
		-o-transform: translateY(55px);
	}
	.hovereffect h4 {
		margin-top: 1.5em;
	}
	.agileits_banner_bottom_grid:nth-child(2) {
		margin-bottom: 0;
	}
	.w3l_header:after {
		width: 20%;
		left: 32%;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.8em;
	}
	.wthree_services_grid_left h3 {
		font-size: 1.2em;
		letter-spacing: 0;
	}
	.wthree_services_grid_left {
		padding: 0;
	}
	.wthree_services_grid_left p {
		margin: 1em 0 2em;
	}
	.agileits_w3layouts_service_grid h4 {
		font-size: .9em;
		letter-spacing: 1px;
	}
	.w3layouts_service_bottom_grid {
		width: 50%;
	}
	.w3layouts_service_bottom_grid:nth-child(2){
		margin-bottom:2em;
	}
	.agileinfo_services_grid1 h4:after {
		right: 35%;
	}
	.agileinfo_services_grid1_pos {
		top: -15%;
	}
	.agileinfo_services_grid {
		padding-top: 2.5em;
	}	
	.w3_agileits_header1:after {
		left: 45% !important;
	}
	.hovereffect p {
		padding: 6em 1em 0em;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 15em;
	}
	.textbox h4 {
		font-size: 1.3em;
		margin-top: 1.9em;
	}

	#chart {
		width: 446px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	#chart #numbers {
		height: 100%;
		width: 46px;
		margin: -6px;
	}
	#chart #bars li span {
		bottom: -2em;
		left: 9px;
		font-size: 0.8em;
	}
	.medile_agile_its_blue h4 {
		font-size: 1.7em;
		padding-top: 1.7em;
	}
	.medile_agile_its_green, .medile_agile_its_blue {
		min-height: 117px;
	}
	.more.click {
		padding-top: 2.5em;
		margin: 0;
	}
	.w3_newsletter_footer_grids {
		margin: 2em 0 2em 0;
		padding: 1em;
		background: #111521;
	}
	.w3_agileits_about_grid_left {
		padding: 0;
	}
	.agile_inner_grids {
		margin-top: 1.2em;
	}
	.agileits_banner_bottom_grids, .w3layouts_work_grids, .wthree_testimonial_grids, .wthree_services_grids, .w3layouts_mail_grid {
		margin: 1.2em 0 0;
	}
	.test-grid2 img {
		width: 34%;
		margin: 2em 0 4em 0;
	}
	.w3_agile_footer_grid {
		padding: 0;
	}
	.agileits_banner_bottom_grids.two {
		margin-top: 0em;
	}
	.agileinfo_copyright {
		margin: 1.22em 0 0;
		padding: 1em 0;
	}
	.map iframe {
		min-height:200px;
		border: none;
		margin-top:1em;
	}
	.agileits_banner_bottom_grid {
		float: left;
		width: 100%;
	}
}
@media (max-width: 440px){
	.agileits_banner_bottom_grid {
		width: 100%;
		padding: .5em 1em;
	}
	.w3layouts_work_grid_left_pos img {
		border: 2px solid #efb312;
	}
	.agileits_w3layouts_quotes:after {
		right: -10%;
	}
	.w3l_footer_nav li {
		margin-right: 0.4em;
		font-size: 13px;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.6em;
		letter-spacing: 3px;
	}
	.agileits_w3layouts_service_grid {
		float: none;
		width: 60%;
		    margin: 0 auto 1.5em;
	}
	.agileits_w3layouts_service_grid:nth-child(2){
		margin:2em auto;
	}
	.agileits_w3layouts_service_grid p {
		line-height: 2em;
	}
	.agileits_w3layouts_service_grid h4 {
		letter-spacing: 5px;
	}
	.w3_agileits_header:after {
		left: 62% !important;
	}
	.agileinfo_services_grid1 h4:after {
		right: 10%;
		width: 45%;
	}
	.agileinfo_services_grid1 h4 {
		letter-spacing: 1px;
	}
	.w3_textbox h4 {
		margin: 3.3em 0 .5em;
	}
	.w3_agileits_header1:after {
		left: 48% !important;
	}
	.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		width: 100%;
		margin-top: .5em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 0em;
		width: 100%;
	}
	.agileits_w3layouts_mail_grid_right,.agileinfo_mail_grid_left {
		padding: 0;
	}
	.agileits-banner-info h3 {
		font-size: 2em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 300px;
	}
	.agileits-banner-info {
		padding:5.5em 0 0em;
	}
	.service-box h5 {
      font-size: 0.86em;
	}
	.services{
		padding:2em 0 1em 0;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 27%;
	}
	.w3-agile-post-img a ul {
		padding: 6em 1em 0 2em;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 11em;
	}
	.textbox h4 {
		font-size: 1em;
		margin-top: 1.9em;
	}
	.banner1 {
		min-height: 116px;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.6em;
		letter-spacing: 3px;
		padding-top: 1.8em;
	}
	#chart #bars li .bar {
		display: block;
		width: 33px;
		margin-left: 2px;
		bottom: 0;
	}
	#chart #bars li {
		width: 56px;
		height: 300px;
		margin: 0;
	}
	#chart {
		width: 371px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	#chart #bars li span {
		bottom: -2em;
		left: -5px;
		font-size: 0.7em;
	}
	.medile_agile_its_blue h4 {
		font-size: 1.4em;
		padding-top: 2em;
	}
	.w3_newsletter_footer_grid_left input[type="email"] {
		outline: none;
		border: none;
		font-size: 1em;
		width: 66%;
		margin-right: 0em;
	}
	.w3_newsletter_footer_grid_left input[type="submit"] {
		font-size: 1em;
		width: 33%;
		padding: 15px 0;
	}
	.agileits_w3layouts_banner_nav {
		padding: 0.5em 0;
	}
	.more {
		margin-top: 1.2em;
	}
	.agileits-banner-info {
		padding: 4em 0 0em;
	}
	.choose_right h3 {
       font-size: 1em;
	}
	.stats {
       min-height: 405px;
	}
	figcaption h3 {
		font-size: 1.3em;
		padding: 6px 20px;
		margin-top: 68px;
	}
   .hovereffect h4 {
		margin-top: 1em;
	}
}
@media (max-width: 414px){
	.agileits_banner_bottom_grid {
		width: 100%;
		padding: .5em 1em;
	}
	.w3layouts_work_grid_left_pos img {
		border: 2px solid #efb312;
	}
	.agileits_w3layouts_quotes:after {
		right: -10%;
	}
	.w3l_footer_nav li {
		margin-right: 0.4em;
		font-size: 13px;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.6em;
		letter-spacing: 3px;
	}
	.agileits_w3layouts_service_grid {
		float: none;
		width: 60%;
		    margin: 0 auto 1.5em;
	}
	.agileits_w3layouts_service_grid:nth-child(2){
		margin:2em auto;
	}
	.agileits_w3layouts_service_grid p {
		line-height: 2em;
	}
	.agileits_w3layouts_service_grid h4 {
		letter-spacing: 5px;
	}
	.w3_agileits_header:after {
		left: 62% !important;
	}
	.agileinfo_services_grid1 h4:after {
		right: 10%;
		width: 45%;
	}
	.agileinfo_services_grid1 h4 {
		letter-spacing: 1px;
	}
	.w3_textbox h4 {
		margin: 3.3em 0 .5em;
	}
	.w3_agileits_header1:after {
		left: 48% !important;
	}
	.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		width: 100%;
		margin-top: .5em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 0em;
		width: 100%;
	}
	.agileits_w3layouts_mail_grid_right,.agileinfo_mail_grid_left {
		padding: 0;
	}
	.agileits-banner-info h3 {
		font-size: 2em;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 300px;
	}
	.agileits-banner-info {
		padding:5.5em 0 0em;
	}
	.service-box h5 {
      font-size: 0.86em;
	}
	.services{
		padding:2em 0 1em 0;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 27%;
	}
	.w3-agile-post-img a ul {
		padding: 6em 1em 0 2em;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 11em;
	}
	.textbox h4 {
		font-size: 1em;
		margin-top: 1.9em;
	}
	.banner1 {
		min-height: 116px;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.6em;
		letter-spacing: 3px;
		padding-top: 1.8em;
	}
	.hovereffect p {
		padding: 6em 1em 0em;
	}
	#chart #bars li .bar {
		display: block;
		width: 33px;
		margin-left: 2px;
		bottom: 0;
	}
	#chart #bars li {
		width: 56px;
		height: 300px;
		margin: 0;
	}
	#chart {
		width: 371px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	#chart #bars li span {
		bottom: -2em;
		left: -5px;
		font-size: 0.7em;
	}
	.medile_agile_its_blue h4 {
		font-size: 1.4em;
		padding-top: 2em;
	}
	.w3_newsletter_footer_grid_left input[type="email"] {
		outline: none;
		border: none;
		font-size: 1em;
		width: 66%;
		margin-right: 0em;
	}
	.w3_newsletter_footer_grid_left input[type="submit"] {
		font-size: 1em;
		width: 33%;
		padding: 15px 0;
	}
	.agileits_w3layouts_banner_nav {
		padding: 0.5em 0;
	}
	.more {
		margin-top: 1.2em;
	}
	.agileits-banner-info {
		padding: 4em 0 0em;
	}
	.choose_right h3 {
       font-size: 1em;
	}
	.stats {
       min-height: 405px;
	}
	figcaption h3 {
		font-size: 1.3em;
		padding: 6px 20px;
		margin-top: 68px;
	}
}
@media (max-width: 384px){
	.wthree_banner_info h2 {
		font-size: 1.1em;
	}
	.agileits_banner_bottom_grid {
		width: 100%;
	}
	.w3l_header:after {
		left: 35%;
	}
	.w3layouts_footer_grid h2:after {
		left: 68%;
	}
	.w3l_footer_nav li {
		margin-right: 0.8em;
	}
	.wthree_services_grid_left h3 {
		font-size: 0.9em;
	}
	.agileits_w3layouts_service_grid {
		width: 75%;
	}
	.w3_agileits_header:after {
		left: 68% !important;
	}
	.agileinfo_services_grid {
		padding: 2.5em 0 0;
	}
	.w3_textbox h4 {
		margin: 2.6em 0 .5em;
	}
	.w3_agileits_header1:after {
		left: 52% !important;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.4em;
	}
	.w3_agile_map iframe {
		min-height: 200px;
	}
	.banner1 {
		min-height: 100px;
	}
    .w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 270px;
	}
	.agileits-banner-info h3 {
		font-size: 1.8em;
	}
	.banner-bottom h2 {
		font-size: 1.4em;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 9em;
	}
	.w3-agile-post-img a {
		min-height: 200px;
	}
	.w3-agile-post-img a ul li {
		font-size: 0.8em;
		padding: .5em 0em;
		width: 33%;
	}
	.w3-agile-post-img a ul {
		padding: 2.6em 1em 0 1em;
	}
	.wthree_services_grid_left h4 {
		font-size: 0.85em;
		letter-spacing: 5px;
	}
	.agileits_w3layouts_service_grid:nth-child(2) {
		margin: 1em auto;
	}
	.agileits-banner-info {
		padding: 4em 0 0em;
	}
	#chart #bars li {
		width: 51px;
		height: 300px;
		margin: 0;
	}
	a.navbar-brand {
		font-size: 0.78em;
	}
	#chart {
		width: 350px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	.banner-bottom h6,.inner_main_agile_section h6 {
		letter-spacing:4px;
		font-size: 0.85em;
	}
	.footer {
      padding: 2em 0;
	}
	.w3_agileits_about_grid_left p {
		line-height:1.9em;
		font-size: 0.9em;
	}
	.w3_agileits_about_grid_left ul li {
		margin-bottom: 0.5em;
		line-height: 1.6em;
		font-size: 0.9em;
		letter-spacing: 2px;
	}
	.hovereffect h4 {
		margin-top: 0em;
	}
	.w3_newsletter_footer_grid_left input[type="email"] {
		outline: none;
		border: none;
		font-size: 1em;
		width: 65%;
		margin-right: 0em;
	}
}
@media (max-width: 375px){
	.w3_agileits_search {
		width: 90%;
	}
	
	.w3l_header:after {
		left: 37%;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 250px;
	}
	.more a {
		padding: 6px 18px;
	}
	.agileits-banner-info {
		padding: 3em 0 0em;
	}
	#chart #bars li {
		width: 47px;
		height: 300px;
		margin: 0;
	}
	#chart {
		width: 340px;
		height: 300px;
		margin: 60px auto 30px;
		display: block;
	}
	.w3l_header {
		font-size: 1.4em;
		letter-spacing: 2px;
	}
	a.navbar-brand {
		font-size: 0.75em;
	}
}
@media (max-width: 320px){
	.agile_phone_mail ul li {
		padding: 2px;
		border: none;
		display: block;
	}
	.agile_phone_mail {
		text-align: center;
		padding: .5em 0;
	}
	.navbar-brand {
		font-size: .65em;
	}
	.wthree_banner_info h2 {
		font-size: 0.94em;
	}
	.wthree_banner_info h2 span {
		font-size: .7em;
		width: 30%;
	}
	p, ul li, ol li,.w3layouts_footer_grid input[type="email"],.w3_agileits_search input[type="search"],.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		font-size: 13px;
	}
	.w3l_footer_nav li {
		font-size: 12px;
	}
	.w3l_footer_nav {
		margin: 1em 0;
	}
	.modal-body p i {
		margin: 0.5em 0;
	}
	.hovereffect h4 {
		font-size: 1em;
	}
	.hovereffect h4 {
		-webkit-transform: translateY(65px);
		-ms-transform: translateY(65px);
		transform: translateY(65px);
	}
	.hovereffect:hover h4 {
		-webkit-transform: translateY(35px);
		-ms-transform: translateY(35px);
		transform: translateY(35px);
		-moz-transform: translateY(35px);
		-o-transform: translateY(35px);
	}
	.hovereffect p {
		padding: 4em 1em 0em;
	}
	.w3l_header:after {
		left: 45%;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.39em;
	}
	.w3_agileits_service_banner_info h2 {
		font-size: 1.2em;
	}
	.agileits_w3layouts_service_grid {
		width: 85%;
	}
	.w3layouts_service_bottom_grid p {
		font-size: 1.5em;
	}
	.w3layouts_service_bottom_grid h3 {
		font-size: .9em;
	}
	.agileinfo_services_grid1 {
		padding: 2em 1em 1.5em;
	}
	.agileinfo_services_grid1 h4 {
		font-size: 1.1em;
	}
	.w3_agileits_header1:after {
		left: 63% !important;
	}
	.agileits_mail_grid_right1 {
		padding: .5em 1em;
	}
	.agileits_w3layouts_mail_grid_right {
		margin-top: 1em;
	}
	.w3_agileits_search {
		padding: 5px 10px 10px;
	}
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
		min-height: 200px;
	}
	.agileits-banner-info {
		padding: 2.3em 0 0em;
	}
	.w3-agile-post-grids {
		padding: 0;
	}
	.w3-agile-post-info ul li:nth-child(2) {
		margin: 0 0 0 6em;
	}
	.w3layouts_stats_left {
		padding: 2em 0 0em 0;
		float: left;
		width: 50%;
	}
	.stats {
      min-height: 368px;
	}
	.banner1 {
		min-height: 84px;
	}
	a.navbar-brand {
		font-size: 0.72em;
	}
	.agileits-banner-info h3 {
		font-size: 1.8em;
		letter-spacing:1px;
	}
	#chart #bars li .bar {
		display: block;
		width: 28px;
		margin-left: 2px;
		bottom: 0;
	}
	#chart #bars li {
		width: 42px;
		height: 300px;
		margin: 0;
	}
	#chart {
		width: 287px;
		height: 300px;
		margin: 60px auto 20px;
		display: block;
	}
	.medile_agile_its_blue h4 {
		font-size: 1.2em;
		padding-top: 1em;
		line-height: 1.6em;
	}
	.medile_agile_its_blue h4 {
		font-size: 1.2em;
		padding-top: 1em;
		line-height: 1.6em;
	}
	.more.click {
		padding-top: 2em;
		margin: 0;
	}
	.choose_icon {
		padding: 1em 1em;
	}
	.choose_icon i {
		font-size: 1.7em;
	}
	.w3_newsletter_footer_grid_left input[type="email"] {
		outline: none;
		border: none;
		font-size: 0.9em;
		width: 65%;
		margin-right: 0em;
	}
	.w3_newsletter_footer_grid_left input[type="submit"] {
		font-size: 0.9em;
		width: 33%;
		padding: 15px 0;
	}
	.w3_newsletter_footer_grids {
		margin: 1.2em 0 1.2em 0;
		padding: 0.6em;
	}
	.nbs-flexisel-nav-left {
		left: 70.5%;
	}
}